<html> 
   <head>
      <style>
        body {
          background-image: url({{ url_for('static', filename='shopp.jpg') }});
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
      </style>
   </head>
    
   <body>       
      <center>
      <form action="" method = "post"> 
         <h1> Hi! Confused where to buy a product from? We are here to help! </h1>
         <h3 style="color:green;font-size:160%;">Which product are you looking for today?</h3> 
         <p><input type = "text" name = "nm" placeholder = "Electronics; Home Appliances; Apparel; Books; Sport goods, ..." size = "50" /></p> 
         <p><input type = "submit" name = "sentiment" value = "Analyze_Sentiment" /></p> 
         <p><input type = "submit" name = "deceptive" value = "Analyze_Deceptive" /></p> 
      </form>
       
      <div id="morse" class="info">Hey consider buying </div>
      <h3 style="color:purple;font-size:120%;">{{ input_name }}</h3>
      <p><nobr> from </nobr></p>
      <h3 style="color:rgb(128, 0, 0);font-size:160%;">{{ result }}</h3>
      <h3 style="color:DodgerBlue;font-size:160%;">{{ positive }}</h3>
      <img src="{{url_for('static', filename='like_.jpg')}}" width = "75" height = "75" />
      <h3 style="color:red;font-size:160%;">{{ negative }}</h3>
      <img src="{{url_for('static', filename='dislike.jpg')}}" width = "75" height = "75" />
      </center>
      
   </body> 
</html> 